@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: whitesmoke;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 28px 12%;
  transition: all 0.5s ease;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 28px;
  margin-right: 3px;
}
.logo span {
  font-size: 1.7rem;
  font-weight: 600;
}
.navbar {
  display: flex;
}
.navbar a {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: #d37400;
}
.navbar a.active {
  color: #fd9e29;
}

.input {
  padding: 10px;
  width: 20px;
  height: 30px;
  background: none;
  border: 2px solid #ffd52d;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #ffd52d;
  outline: none;
  transition: 0.5s;
}

.search {
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid orange;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton {
  width: 70px;
  height: 40px;
  border: 1px solid orange;
  background: orange;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.iconsrch {
  width: 20px;
  height: 20px;
}

footer {
  background-color: rgb(31, 31, 31);
  bottom: 0;
  /* position: fixed; */
  width: 100%;
  padding: 20px;
}

.title-footer {
  text-align: center;
  color: white;
}

.container-footer {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: orange;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col .ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col .ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col .ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #ffffff;
  background-color: orange;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*  */
.container-profile {
  display: flex;
  justify-content: center;
  padding: 7rem 2rem;
  margin: 7rem 2rem;
}
.wrapper-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gambar-profile {
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
}

.user {
  font-size: 20px;
  font-weight: 700;
}

.btn-prof-logout{
    margin-top: 20px;
}

.btn-edit{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1.5px solid #24262b;
    cursor: pointer;
}

.btn-logout{
    padding:0.5rem 1.7rem;
    border-radius: 10px;
    border: 1.5px solid #24262b;
    cursor: pointer;
}

.btn-edit:hover, .btn-logout:hover{
    background: #fd9e29;
    color: #ffffff;
    border: 1.5px solid #fd9e29;
}