@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: whitesmoke;
}
header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 28px 12%;
  transition: all 0.5s ease;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 28px;
  margin-right: 3px;
}
.logo span {
  font-size: 1.7rem;
  font-weight: 600;
}
.navbar {
  display: flex;
}
.navbar a {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: #d37400
}
.navbar a.active {
  color: #fd9e29;
}


.input {
  padding: 10px;
  width: 20px;
  height: 30px;
  background: none;
  border: 2px solid #ffd52d;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #ffd52d;
  outline: none;
  transition: 0.5s;
}


.keranjang {
  border: none;
  background: none;
}
.keranjang:hover {
  color: #fd9e29;
}

.search {
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid orange;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton {
  width: 70px;
  height: 40px;
  border: 1px solid orange;
  background: orange;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.iconsrch {
  width: 20px;
  height: 20px;
}

.img-profile {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.Profile {
  margin-left: 0.5rem;
  color: black;
  font-size: 1.1rem;
}
.Profile:hover {
  color: #fd9e29;
}

.img-cart {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.Cart {
  margin-left: 0.5rem;
  color: black;
  font-size: 1.1rem;
}

.Cart:hover {
  color: #fd9e29;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.wrapper{
  justify-content: left;
  padding: 100px;
  display: inline-flex;
  flex-flow: row wrap;
  width: 90%;
}

.card{
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 250px;
  background-color: white;
}

.product-image{
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.product-title{
  font-size: 15px;
  font-weight: 300;
}
.product-price{
  font-size: 20px;
  font-weight: bold;
}

.wrapper-product{
    margin: 30px;
}

.product-card{
  color: black;
}
.product-card:hover{
  color: #d37400;
}

footer{
  background-color: rgb(31, 31, 31);
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.title-footer{
  text-align: center;
  color: white;
}

